- photo_url_m = flickr.photos.getSizes(photo_id: @photos.to_a.sample.id).to_a.last["source"]
%body.blur{:style => "background: url(#{photo_url_m}); background-size: cover; height: auto !important; background-attachment:fixed; background-position:center center; background-repeat: no-repeat;"}
  #layout.pure-g-r
    %a#menuLink.pure-menu-link{href: "#menu"}
      %span
    #menu.pure-u
      .pure-menu.pure-menu-open
        %a.pure-menu-heading{style:"text-align:center; margin-left: -15px;", href: "/"} Marx
        %a.pure-menu-heading{href: "/users/edit"}= current_user.name
        %ul{class: "page_list"}
          %li
            %a{href:"#",:style => "color:white;",class: "new_page"} New Page
          - @pages.each_with_index do |page, index|
            %li{:class => ("menu-item-divided" if index==0)}
              %a{href:"#", class: "page_link", data:{id:page.id}}= page.title
        %br
        .pure-menu-selected{:style => "text-align: center; list-style-type: none; position: absolute; bottom: 0; width: 100%;"}
          = link_to "Log out", destroy_user_session_path, :method => :delete, :style => "padding: 12px 0px;"
    #main.pure-u-1
      .header{style:"padding-bottom:0px; margin-bottom:10px;"}
        %span
          %h1 Marx
          %h2 Welcome.
        .buttons{style:"float: right; margin-top: -80px;"}
          .pure-form
            %input.pure-input-2-3{style:"margin-left: -100px; height: 35px; width: 200px;", :type => "text" }
            %button.pure-button.pure-button-success Add
            %button.pure-button.pure-button-warning Edit
          %ul{style:"margin-left: 25px;"}
            = link_to 'Share on Facebook', '#', :class => "fb_share pure-button", :style => "background-color: #4862A3; color: #fff;"
            = facebook_share_once

        %br
      .gridster{:style => "text-align:center;"}
        %ul{:style => " margin: auto; width: 960px; list-style: none;"}
          %li{data:{row:"1",col:"1",sizex:"1",sizey:"1"}}
            .tile-bg-url{:style => "background-color: #222222; color:white; text-align: left; padding: 20px; width: 160px; height: 160px;"} Welcome
          %li{data:{row:"1",col:"2",sizex:"1",sizey:"1"}}
            .tile-bg-url{:style => "background-color: #333333; color:white; text-align: left; padding: 20px; width: 160px; height: 160px;"} to
          %li{data:{row:"1",col:"3",sizex:"1",sizey:"1"}}
            .tile-bg-url{:style => "background-color: #444444; color:white; text-align: left; padding: 20px; width: 160px; height: 160px;"} Marx.
          %li{data:{row:"1",col:"4",sizex:"1",sizey:"1"}}
            .tile-bg-url{:style => "background-color: #555555; color:white; text-align: left; padding: 20px; width: 160px; height: 160px;"} Have
          %li{data:{row:"1",col:"5",sizex:"1",sizey:"1"}}
            .tile-bg-url{:style => "background-color: #666666; color:white; text-align: left; padding: 20px; width: 160px; height: 160px;"} fun.
